@import "compass";
@import "fixed-data-table";

.propertable {
	.fa-square-o{
		&:hover {
			cursor: pointer;
		}
	}

	.fixedDataTableRowLayout_rowWrapper{
		&:hover .public_fixedDataTableCell_main {
		  background-color: #C7EBFF;
		}

		.public_fixedDataTableRow_main {
			&.selected {
				.public_fixedDataTableCell_main{
					background-color: darken(#C7EBFF, 3%);
				}
			}
		}
	}

	&.column-complex-filter {
		min-width: 160px;
		min-height: 250px;
		width: 280px;
		height: 22em;
		background: #fff;
		z-index: 100;
		position: absolute;
	}
}

.propertable-header-cell {
	i {
		position: absolute;
	    right: 6px;
	    top: 35%;
	}

	i.fa-caret-square-o-down {
		color: #D6D6D6;
	}

	&.sortable {
		cursor: pointer;
		span:hover,
		i.fa:hover {
			color: #5B5F5F;
		}
	}

	&.not-sortable{
		cursor: not-allowed;
	}
}